/* Custom rules */
.main-page p {
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#bio > ul {
	list-style: none;
	padding-left: 15px;
}

.main-page > h2 {
	border-top: none !important;
	border-bottom: dotted 1px #ddd;
}

body {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
